[[local|localrc]]

ADMIN_PASSWORD={{ devstack_admin_password }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=$ADMIN_PASSWORD

DEST={{ devstack_dest }}
LOGFILE=$DEST/logs/stack.sh.log
VERBOSE=True
LOG_COLOR=False
SCREEN_LOGDIR=$DEST/logs

RECLONE=False
OFFLINE=False
GIT_BASE=https://github.com
GIT_TIMEOUT=600

#IMAGE_URLS="http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-disk.img" # cirros full disk image

CEILOMETER_BRANCH={{ devstack_service_branch }}
CINDER_BRANCH={{ devstack_service_branch }}
GLANCE_BRANCH={{ devstack_service_branch }}
HEAT_BRANCH={{ devstack_service_branch }}
HORIZON_BRANCH={{ devstack_service_branch }}
IRONIC_BRANCH={{ devstack_service_branch }}
KEYSTONE_BRANCH={{ devstack_service_branch }}
NEUTRON_BRANCH={{ devstack_service_branch }}
NEUTRON_FWAAS_BRANCH={{ devstack_service_branch }}
NEUTRON_LBAAS_BRANCH={{ devstack_service_branch }}
NEUTRON_VPNAAS_BRANCH={{ devstack_service_branch }}
NOVA_BRANCH={{ devstack_service_branch }}
SAHARA_BRANCH={{ devstack_service_branch }}
SWIFT_BRANCH={{ devstack_service_branch }}
TROVE_BRANCH={{ devstack_service_branch }}

REQUIREMENTS_BRANCH=stable/{{ openstack_version }}

{% if openstack_version == 'kilo' %}
TEMPEST_BRANCH="11.0.0"
{% elif openstack_version == 'liberty' %}
TEMPEST_BRANCH="12.1.0"
{% elif openstack_version == 'mitaka' %}
TEMPEST_BRANCH="13.0.0"
{% elif openstack_version == 'newton' %}
TEMPEST_BRANCH="13.0.0"
{% elif openstack_version == 'ocata' %}
TEMPEST_BRANCH="14.0.0"
{% else %}
TEMPEST_BRANCH=master
{% endif %}

HOST_IP={{ host_ip }}

FIXED_RANGE={{ tenant_ip_range }}
NETWORK_GATEWAY={{ tenant_ip_gateway }}
FLOATING_RANGE={{ floating_ip_range }}
PUBLIC_NETWORK_GATEWAY={{ floating_ip_gateway }}
Q_FLOATING_ALLOCATION_POOL={{ floating_ip_pool }}

Q_USE_SECGROUP=True
Q_USE_PROVIDERNET_FOR_PUBLIC=True
Q_L3_ENABLED=True

PUBLIC_INTERFACE={{ public_interface }}

Q_AGENT=openvswitch
Q_PLUGIN=ml2
Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,linuxbridge

PHYSICAL_NETWORK=public
PUBLIC_PHYSICAL_NETWORK=public
PUBLIC_BRIDGE=br-ex
OVS_PHYSICAL_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex

Q_ML2_TENANT_NETWORK_TYPE=vxlan
ENABLE_TENANT_TUNNELS=True
OVS_ENABLE_TUNNELING=True

IP_VERSION=4
SERVICE_IP_VERSION=4
NEUTRON_CREATE_INITIAL_NETWORKS=True

enable_service rabbit mysql key

enable_service n-api n-crt n-obj n-cpu n-cond n-sch n-novnc n-cauth

# http://stackoverflow.com/questions/41064739/openstack-no-hosts-found-to-map-to-cell-exiting
{% if openstack_version == 'ocata' %}
enable_service n-cell
enable_service placement-api placement-client
{% endif %}

disable_service n-net
enable_service q-svc q-agt q-dhcp q-l3 q-meta neutron

enable_service g-api g-reg

enable_service horizon

enable_service cinder c-api c-vol c-sch c-bak
VOLUME_GROUP="cinder-volumes"
CINDER_ENABLED_BACKENDS=${CINDER_ENABLED_BACKENDS:-lvm:lvmdriver-1}
VOLUME_BACKING_FILE_SIZE=20G

{% if openstack_version == 'kilo' %}
# Fix 'Found no valid images to use!'
disable_service tempest
{% else %}
enable_service tempest
{% endif %}

enable_service s-proxy s-object s-container s-account
SWIFT_HASH=66a3d6b56c1f479c8b4e70ab5c2000f5
SWIFT_REPLICAS=3
SWIFT_DATA_DIR=$DEST/data/swift

enable_service heat h-api h-api-cfn h-api-cw h-eng
