[[local|localrc]]

ADMIN_PASSWORD={{ devstack_admin_password }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=$ADMIN_PASSWORD

DEST={{ devstack_dest }}
LOGFILE=$DEST/logs/stack.sh.log
VERBOSE=True
LOG_COLOR=True
SCREEN_LOGDIR=$DEST/logs

RECLONE=False
OFFLINE=False
GIT_BASE=git://git.openstack.org

HOST_IP={{ host_ip }}

FIXED_RANGE={{ tenant_ip_range }}
NETWORK_GATEWAY={{ tenant_ip_gateway }}
FLOATING_RANGE={{ floating_ip_range }}
PUBLIC_NETWORK_GATEWAY={{ floating_ip_gateway }}
Q_FLOATING_ALLOCATION_POOL={{ floating_ip_pool }}

Q_USE_SECGROUP=True
Q_USE_PROVIDERNET_FOR_PUBLIC=True
Q_L3_ENABLED=True

PUBLIC_INTERFACE={{ external_interface }}

Q_AGENT=openvswitch
Q_PLUGIN=ml2
Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,linuxbridge

PHYSICAL_NETWORK=public
PUBLIC_PHYSICAL_NETWORK=public
PUBLIC_BRIDGE=br-ex
OVS_PHYSICAL_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex

Q_ML2_TENANT_NETWORK_TYPE=vxlan
ENABLE_TENANT_TUNNELS=True
OVS_ENABLE_TUNNELING=True

NEUTRON_CREATE_INITIAL_NETWORKS=True

enable_service key rabbit mysql

enable_service n-api n-crt n-obj n-cpu n-cond n-sch
enable_service n-novnc n-cauth

disable_service n-net
enable_service q-svc q-agt q-dhcp q-l3 q-meta neutron

enable_service g-api g-reg

enable_service horizon

enable_service cinder c-api c-vol c-sch c-bak
VOLUME_GROUP="cinder-volumes"
CINDER_ENABLED_BACKENDS=${CINDER_ENABLED_BACKENDS:-lvm:lvmdriver-1}
VOLUME_BACKING_FILE_SIZE=20G

enable_service tempest

enable_service s-proxy s-object s-container s-account
SWIFT_HASH=66a3d6b56c1f479c8b4e70ab5c2000f5
SWIFT_REPLICAS=3
SWIFT_DATA_DIR=$DEST/data/swift

enable_service heat h-api h-api-cfn h-api-cw h-eng
